body{
	font-family: Arial, Helvetica, sans-serif;	
}
header{
	background-color: #009186;
	color: #fff;
}
section{
	background-color: #d3d3d3;
}
footer{
	background-color: #1f104f;
	color: #f5f5f5;
}
select{
	-webkit-appearance: none;  /* Remove estilo padrão do Chrome */
   -moz-appearance: none; /* Remove estilo padrão do FireFox */
   appearance: none; /* Remove estilo padrão do FireFox*/
   background: url(http://www.webcis.com.br/images/imagens-noticias/select/ico-seta-appearance.gif) no-repeat #eeeeee;  /* Imagem de fundo (Seta) */
   background-position: 218px center;  /*Posição da imagem do background*/
   width: 250px; /* Tamanho do select, maior que o tamanho da div "div-select" */
   height:30px; /* Altura do select, importante para que tenha a mesma altura em todo os navegadores */
   border:1px solid #ddd;
}
a{
	color: #dcdcdc;
	text-decoration: none;
	font-size: 18px;
}
h3{
	font-family: Arial, helvetica, sans-aerif;
	font-size: 13px;
	color: #dcdcdc;
	text-align: center;
}
h6{
	font-family: Arial, helvetica, sans-aerif;
	font-size: 16px;
	color: #dcdcdc;
}
.btn{
	font-family: Arial, helvetica, sans-aerif;
	font-weight: bold;
	font-size: 15px;
	color: #DCDCDC;
	background-color: #4F4F4F;
	height:35px;	
	display:block;
	border-bottom-color: #DCDCDC;
	float: right;
}

.coluna{
	display: flex;
	justify-content: center;
}

.logo{
	display: table-cell;
	float: left;
	margin-top: 30px;
}

.slide{
	display: table-cell;
	float: left;
	width: 700px;
	margin-left: 20px;
	text-align: justify;
}

.topico{
	display: table-cell;
	float: left;
	width: 450px;
	background-color: #c0c0c0;
}
.link{
	display: table-cell;
	float: left;
	width: 450px;
}
