header{
	background-color: #009186;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
}

section{
	background-color: #d3d3d3;
}

.btn{
	font-family: Arial, helvetica, sans-aerif;
	font-weight: bold;
	font-size: 15px;
	color: #DCDCDC;
	background-color: #4F4F4F;
	height:35px;	
	display:block;
	border-bottom-color: #DCDCDC;
	float: right;
}

.coluna{
	display: flex;
	justify-content: center;
}

.logo{
	display: table-cell;
	float: left;
	margin-top: 30px;
}

.slide{
	display: table-cell;
	float: left;
	width: 700px;
	margin-left: 20px;
	text-align: justify;
}

.left{
	display: table-cell;
	float: left;
	width: 400px;
}

.center{
	display: table-cell;
	float: center;
	width: 400px;
}

.right{
	display: table-cell;
	float: right;
	width: 400px;
}
